<footer class="footer">
  <button class="btn footer__btn--up-arrow" type="button" name="scroll up"></button>
  <nav class="footer__nav">
    <nav class="footer__nav--nav-1"></nav>
    <nav class="footer__nav--nav-2"></nav>
  </nav>
  <small class="footer__small">
    <span class="footer__small--copy"></span>
    <span class="footer__small--slogan"></span>
  </small>  
</footer>



<!-- <footer class="page__footer">
  <small>
    &copy; Todos los derechos reservados
    <include
      src="./link.html"
      aClass="link__adalab"
      text="Adalab"
      url="https://adalab.es"
    ></include>
  </small>
</footer> -->
