<header class="hero">
  <button class="btn hero__btn--hamburger" type="button" name="Link to Adalab">
    <img class="hero__btn--row" src="./assets/images/ico-menu.svg">
  </button>
  <div class="hero__heading">
    <h1 class="heading__title">
      <span class="heading__title--centered">Anonymous</span>
      <span class="heading__title--centered">Proxy</span>
    </h1>
    <p class="heading__text">In hac habitasse platea dictumst.</p>
  </div>
  <button class="btn hero__btn--down-arrow" type="button" name="scroll down">
    <img class="hero__btn--down-arrow-img" src="./assets/images/ico-scroll-down.svg">
  </button>
</header>
