<header class="hero">
  <button class="btn hero__btn--hamburger" type="button" name="Link to Adalab">
    <div class="hero__btn--hamburger-rows">
      <div class="hamburger__row"><img srcset="../images/ico-menu.svg"></div>
      <div class="hamburger__row"><img srcset="../images/ico-menu.svg"></div>
      <div class="hamburger__row"><img srcset="../images/ico-menu.svg"></div>
    </div>
  </button>
  <div class="hero__heading">
    <h1 class="heading__title">
      <span class="heading__title--centered">Anonymous</span>
      <span class="heading__title--centered">Proxy</span>
    </h1>
    <p class="heading__text">In hac habitasse platea dictumst.</p>
  </div>
  <button class="btn hero__btn--down-arrow" type="button" name="scroll down"></button>
</header>
