<header class="hero">
  <button class="btn hero__btn--hamburger" type="button" name="Link to Adalab">
      <div class="hero__btn--row"><img src="../images/ico-menu.svg" height="14" width="16"></div>
  </button>
  <div class="hero__heading">
    <h1 class="heading__title">
      <span class="heading__title--centered">Anonymous</span>
      <span class="heading__title--centered">Proxy</span>
    </h1>
    <p class="heading__text">In hac habitasse platea dictumst.</p>
  </div>
  <button class="btn hero__btn--down-arrow" type="button" name="scroll down"></button>
</header>
