<main class="main-section">
  <section class="upper-section">
    <small class="upper-section__small"></small>
    <h2 class="upper-section__title"></h2>
    <p class="upper-section__text"></p>
    <button class="btn upper-section__btn--go" type="button" name="Go!"></button>
  </section>
  <section class="lower-section">
    <h2 class="lower-section__title"></h2>
    <div class="lower-section-wrapper">
      <div class="lower-section-wrapper-subsection">
        <h3 class="lower-section-wrapper-subsection__title lower-section-wrapper-subsection__title--title-1"></h3>
        <p class="lower-section-wrapper-subsection__text lower-section-wrapper-subsection__text--text-1"></p>
      </div>
      <div class="wrapper__section">
        <h3 class="lower-section-wrapper-subsection__title lower-section-wrapper-subsection__title--title-2"></h3>
        <p class="lower-section-wrapper-subsection__text lower-section-wrapper-subsection__text--text-2"></p>
      </div>
      <div class="wrapper__section">
        <h3 class="lower-section-wrapper-subsection__title lower-section-wrapper-subsection__title--title-3"></h3>
        <p class="lower-section-wrapper-subsection__text lower-section-wrapper-subsection__text--text-3"></p>
      </div>
    </div>
    <button class="btn lower-section__btn--more-reasons" type="button" name="Learn more"></button>
  </section>
</main>