<main class="main-section">
  <section class="upper-section">
    <small class="upper-section__small">Insomnia Tips</small>
    <h2 class="upper-section__title">Looking Through A Window</h2>
    <p class="upper-section__text">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
    <button class="btn upper-section__btn--go" type="button" name="Go!">Go</button>
  </section>
  <section class="lower-section">
    <h2 class="lower-section__title" id="scroll-down">3 Reasons To Purchase</h2>
    <!-- <ul class="lower-section__list-wrapper"> -->
      <li class="lower-section__list-wrapper--1">
        <h3 class="list-wrapper__title">Ut sed metus</h3>
        <p class="list-wrapper__text">Lorem ipsum dolor sit amet, consecteur.</p>
      </li>
      <li class="lower-section__list-wrapper--2">
        <h3 class="list-wrapper__title">Curabitur ac erat</h3>
        <p class="list-wrapper__text">Mauris mattis urna quis lorem molestie.</p>
      </li>
      <li class="lower-section__list-wrapper--3">
        <h3 class="list-wrapper__title">Morbi dictum</h3>
        <p class="list-wrapper__text">Aliquam in dolor et dolor tincidunt.</p>
      </li>
    <!-- </ul> -->
    <button class="btn lower-section__btn--more-reasons" type="button" name="Learn more">More reasons</button>
  </section>
</main>