@mixin tablet {
  @media all and (min-width: 768px) {
    @content;
  }
}
@mixin desktop {
  @media all and (min-width: 1280px) {
    @content;
  }
}

@mixin font-parameters-normal {
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}

@mixin arrow-animation {
  animation-name: spin;
  animation-duration: 0.5s;
  animation-iteration-count: once;
  animation-timing-function: linear;
}

@mixin pump {
  animation-name: pump;
  animation-duration: 2s;
  animation-iteration-count: 3;
  animation-timing-function: ease-in-out;
}

@mixin vertical-centered-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin hero-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
