.footer {
  position: relative;
  padding: 60px 15px 45px 15px;
  background-color: $color-background-dark;
  @include vertical-centered-flex;
  @include tablet {
    padding: 45px 39px;
  }
  @include desktop {
    padding: 45px 0;
  }
  &__btn {
    &--up-arrow {
      display: none;
      position: absolute;
      margin-top: -82.5px;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      box-shadow: $shadow-dark-box;
      background-color: $color-white;
      @include tablet {
        display: block;
        margin-top: -67.5px;
      }
    }
    &--up-arrow-img:hover {
      @include arrow-animation;
    }
  }
  &__content {
    width: 100%;
    @include vertical-centered-flex;
    @include tablet {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
    }
    @include desktop {
      justify-content: center;
    }
  }
  &__nav {
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    text-transform: uppercase;
    font-family: $font-main;
    font-weight: $font-weight-light;
    color: $color-white;
    @include font-parameters-normal;
    @include tablet {
      width: 210px;
    }
    @include desktop {
      width: 159px;
    }
  }
  &__list-1, &__list-2{
    list-style-type: none;
    padding: 0 0 30px 0;
    text-align: center;
    @include tablet {
      text-align: left;
      padding: 0;
    }
  }
  &__small {
    font-size: 14px;
    line-height: 2.14;
    text-align: center;
    font-family: $font-main;
    font-weight: $font-weight-light;
    color: $color-white;
    @include vertical-centered-flex;
    @include font-parameters-normal;
    @include tablet {
      order: -1;
      width: 210px;
      align-items: flex-start;
    }
    &--heart {
      color: $color-secondary;
    }
  }
}