.hero {
  height: 100vh;
  justify-content: flex-end;
  background-image: url("../images/cover.jpg");
  @include hero-cover;
  @include vertical-centered-flex;
    &__btn {
      &--hamburger {
        position: fixed;
        top: 0;
        left: 0;
        width: 44px;
        height: 44px;
        background-color: $color-hamburger-icon;
        &:focus {
          @include pump;
        }
      }
      &--link {
      }
    }
    &__btn--down-arrow {
      height: 45px;
      width: 45px;
      border-radius: 50%;
      background-color: $color-white;
      margin-bottom: 53px;
      @include tablet {
        margin-bottom: 45px;
      }
      @include desktop {
        margin-bottom: 13px;
      }
    }
    &__btn--down-arrow-img {
      margin-top: 5px;
      &:hover {
        @include arrow-animation;
      }
    }
}
  
.heading {
  &__title {
    text-transform: uppercase;
    text-shadow: $shadow-dark-heading;
    color: $color-white;
    font-family: $font-heading;
    font-size: 42px;
    font-weight: 600;
    line-height: 1.31;
    text-align: center;
    padding: 0 0 10 0px;
    @include font-parameters-normal;
    @include vertical-centered-flex;
    @include tablet {
      font-size: 80px;
      padding: 0 0 20px 0;
    }
    @include desktop {
      font-size: 100px;
      padding: 0;
      line-height: 1.32;
      text-shadow: $shadow-dark-text;
    }
  }
  &__text {
    font-family: $font-main;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    color: $color-white;
    padding-bottom: 45px;
    @include font-parameters-normal;
    @include tablet {
      font-size: 24px;
      padding-bottom: 30px;
    }
  }
} 