.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-image: url("../images/cover.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    &__btn--hamburger {
      position: fixed;
      top: 0;
      left: 0;
      width: 44px;
      height: 44px;
      background-color: #0271bc;
    }
    &__btn--down-arrow {
      height: 45px;
      width: 45px;
      border-radius: 50%;
      background-color: #FFFFFF;
      margin-bottom: 53px;
      @media all and (min-width: 768px) {
        margin-bottom: 45px;
      }
      @media all and (min-width: 768px) {
        margin-bottom: 13px;
      }
    }
    &__btn--down-arrow-img {
      margin-top: 5px;
      &:hover {
        animation-name: spin;
        animation-duration: 0.5s;
        animation-iteration-count: once;
        animation-timing-function: linear;
      }
    }
}

    
.heading {
  &__title {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    font-family: "Roboto Slab";
    font-size: 42px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: center;
    padding-bottom: 10px;
    @media all and (min-width: 768px) {
      font-size: 80px;
      padding-bottom: 20px;
    }
    @media all and (min-width: 1280px) {
      font-size: 100px;
      padding-bottom: 0;
      line-height: 1.32;
      text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    }
  }
  &__text {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 45px;
    @media all and (min-width: 768px) {
      font-size: 24px;
      padding-bottom: 30px;
    }
  }
} 