.hero {
  height: 100vh;
  justify-content: flex-end;
  background-image: url("../images/cover.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include vertical-centered-flex;
    &__btn {
      &--hamburger {
        position: fixed;
        top: 0;
        left: 0;
        width: 44px;
        height: 44px;
        background-color: $color-hamburger-icon;
        &:focus {
          box-shadow: $shadow-blue-box;
        }
      }
    }
    &__btn--down-arrow {
      height: 45px;
      width: 45px;
      border-radius: 50%;
      background-color: $color-white;
      margin-bottom: 53px;
      @media all and (min-width: 768px) {
        margin-bottom: 45px;
      }
      @media all and (min-width: 1280px) {
        margin-bottom: 13px;
      }
    }
    &__btn--down-arrow-img {
      margin-top: 5px;
      &:hover {
        @include arrow-animation;
      }
    }
}
  
.heading {
  &__title {
    text-transform: uppercase;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    color: $color-white;
    font-family: $font-heading;
    font-size: 42px;
    font-weight: 600;
    line-height: 1.31;
    text-align: center;
    padding-bottom: 10px;
    @include font-parameters-normal
    @include vertical-centered-flex;
    @media all and (min-width: 768px) {
      font-size: 80px;
      padding-bottom: 20px;
    }
    @media all and (min-width: 1280px) {
      font-size: 100px;
      padding-bottom: 0;
      line-height: 1.32;
      text-shadow: $shadow-dark-text;
    }
  }
  &__text {
    font-family: $font-main;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    color: $color-white;
    padding-bottom: 45px;
    @include font-parameters-normal;
    @media all and (min-width: 768px) {
      font-size: 24px;
      padding-bottom: 30px;
    }
  }
} 