.upper-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  justify-items: start;
  padding: 0 15px;
  @include tablet {
    padding: 0 39px;
    max-width: 768px;
  }
  @include desktop {
    max-width: 730px;
    margin: 0 auto;
  }
  &__small {
    grid-row: 1 / 2;
    font-family: $font-main;
    font-size: 14px;
    font-weight: 300;
    line-height: 2.14;
    color: $color-tertiary;
    padding: 30px 0 0 0;
    @include font-parameters-normal;
    @include desktop {
      font-size: 16px;
      line-height: 1.88;
      padding: 60px 0 0 0;
    }
  }
  &__title {
    grid-row: 2 / 3;
    font-family: $font-heading;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.25;
    color: $color-secondary;
    padding: 0 0 15px 0;
    @include font-parameters-normal;
    @include tablet {
      font-size: 26px;
      padding: 0 0 30px 0;
    }
    @include desktop {
      font-size: 32px;
      line-height: 1.41;
    }
  }
  &__text {
    grid-row: 3 / 4;
    font-family: $font-main;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.67;
    color: $color-secondary-light;
    padding: 0 0 30px 0;
    @include font-parameters-normal;
    @include tablet {
      font-size: 20px;
    }
    @include desktop {
      line-height: 1.5;
    }
  }
  &__btn--go {
    grid-row: 4 / 5;
    width: 76px;
    height: 45px;
    border-radius: 22.5px;
    border: solid 2px $color-secondary;
    font-family: $font-main;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: $color-secondary;
    background-color: $color-white;
    margin: 0 0 45px 0;
    transition: background-color 0.5s ease;
    @include font-parameters-normal;
    @include tablet {
      width: 91px;
      margin: 0 0 60px 0;
    }
    @include desktop {
      width: 160px;
    }
    &:hover {
      background-color: $color-secondary;
      color: $color-white;
    }
  }
}

.lower-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  justify-items: center;
  background-color: $color-background-light;
  padding: 0 15px;
  @include tablet {
    padding: 0 39px;
  }
  @include desktop {
    padding: 0 85px;
  }
  &__title {
    grid-row: 1 / 2;
    font-family: $font-heading;
    color: $color-primary;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.25;
    text-align: center;
    padding: 30px 0 45px 0;
    @include font-parameters-normal;
    @include tablet {
      font-size: 26px;
      line-height: 1.73;
    }
    @include desktop {
      font-size: 32px;
      line-height: 1.41;
      padding: 60px 275px 45px 275px;
    }
  }
  &__list-wrapper {
    list-style: none;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    @include tablet {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      column-gap: 27.7px;
    }
    &--1, &--2, &--3 {
      display: block;
      padding: 0 0 45px 0;
      @include tablet {
        padding: 0 0 60px 0;
      }
    }  
  }
  &__btn--more-reasons {
    grid-row: 3 / 4;
    width: 184px;
    height: 45px;
    border-radius: 22.5px;
    background-color: $color-secondary;
    border: solid 2px $color-secondary;
    font-family: $font-main;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: $color-white;
    margin: 0 0 60px 0;
    transition: all 0.5s ease;
    @include font-parameters-normal;
    @include tablet {
      width: 210px;
    }
    @include desktop {
      width: 255px;
    }
    &:hover {
      background-color: $color-white;
      color: $color-secondary;
    }
  }
}

.list-wrapper {
  &__title {
    font-family: $font-main;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.67;
    text-align: center;
    color: $color-primary;
    @include font-parameters-normal;
    @include tablet {
      font-size: 24px;
      line-height: 1.25;
      padding: 0 0 14px 0;
    }
  }
  &__text {
    font-family: $font-main;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.67;
    text-align: center;
    color: $color-primary;
    @include font-parameters-normal;
    @include tablet {
      font-size: 20px;
      line-height: 1.5;
      max-width: 212px;
    }
    @include desktop {
      max-width: 353px;
    }
  }
}